.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.ProjectImage {
  background-color: #d4af37;
  padding: 20px;
}


.ProjectImage img {
  max-width: 100%;
  height: auto;
}


.ProjectImage h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}


.ProjectImage a {
  color: #007bff;
  text-decoration: none;
}


.ProjectImage p {
  font-size: 16px;
  margin: 0;
}

#imagePLU {
  height: 100px;
  width: 100px;
}